.wrapper {
  padding-top: 50px;
  /* background:#333333; */
  background-image: url('https://stmed.net/sites/default/files/smokey-wallpapers-25307-6967670.jpg');
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 180px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
